<div class="master-container">
  <div><h1>Angular Resources</h1></div>
  <div><h2>Videos</h2></div>
  <div class="video">
    <mat-card @slideIn1 class="example-card">
      <a href="https://www.youtube.com/watch?v=5wtnKulcquA" target="_blank"
        ><img
          mat-card-image
          src="../../assets/img/angular2.png"
          alt="Image of Angular"
      /></a>

      <mat-card-title
        >Learn Angular 7 in 50 Minutes: A Free Beginner's Crash
        Course</mat-card-title
      >
      <mat-card-content> <p>By DesignCourse</p> </mat-card-content>
    </mat-card>
    <mat-card @slideIn2 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=k5E2AVpwsko" target="_blank"
        ><img
          mat-card-image
          src="../../assets/img/angular1.png"
          alt="Image of angular"
      /></a>

      <mat-card-title
        >Angular Tutorial for Beginners: Learn Angular from
        Scratch</mat-card-title
      >
      <mat-card-content> <p>By Mosh Hamedani</p> </mat-card-content>
    </mat-card>
    <mat-card @slideIn3 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=Fcr-gM-QThc" target="_blank"
        ><img
          mat-card-image
          src="../../assets/img/angular3.jpeg"
          alt="Image of angular material"
      /></a>

      <mat-card-title>Getting Started with Angular 6 Material</mat-card-title>
      <mat-card-content> <p>By DesignCourse</p> </mat-card-content>
    </mat-card>
    <mat-card @slideIn4 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=WBPrJSw7yQA" target="_blank"
        ><img
          mat-card-image
          src="../../assets/img/angular4.png"
          alt="Image of typescript"
      /></a>

      <mat-card-title
        >Learn TypeScript in 50 Mintues: Tutorial for Beginners</mat-card-title
      >
      <mat-card-content> <p>By Codevolution</p> </mat-card-content>
    </mat-card>
    <mat-card @slideIn5 class="example-cardI">
      <a
        href="https://egghead.io/courses/understand-how-to-style-angular-components"
        target="_blank"
        ><img
          mat-card-image
          src="../../assets/img/angular5.png"
          alt="Image of egghead.io"
      /></a>

      <mat-card-title
        >Understand How to Style Angular Components</mat-card-title
      >
      <mat-card-content> <p>By Juri Strumpflohner</p> </mat-card-content>
    </mat-card>
  </div>
  <div><h2>Readings</h2></div>

  <table>
    <thead>
      <tr>
        <td class="ctr-head"><b>Type</b></td>
        <td class="ctr-head"><b>Location</b></td>
        <td class="ctr-head"><b>Description</b></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="ctr">Angular Getting Started</td>
        <td class="ctr">
          <a href="https://angular.io/guide/quickstart" target="_blank"
            >angular.io</a
          >
        </td>
        <td>Getting started guide to Angular</td>
      </tr>
      <tr>
        <td class="ctr">Angular 33-Part</td>
        <td class="ctr">
          <a
            href="https://medium.freecodecamp.org/want-to-learn-angular-heres-our-free-33-part-course-by-dan-wahlin-fc2ff27ab451"
            target="_blank"
            >freeCodeCamp</a
          >
        </td>
        <td>Comprehensive Course by Dan Wahlin</td>
      </tr>
      <tr>
        <td class="ctr">Tutorial: Tour of Heroes</td>
        <td class="ctr">
          <a href="https://angular.io/tutorial" target="_blank">freeCodeCamp</a>
        </td>
        <td>Official Angular tutorial</td>
      </tr>
    </tbody>
  </table>

  <div><h2>Online Training</h2></div>

  <div>
    <table>
      <thead>
        <tr>
          <td class="ctr-head"><b>Site</b></td>
          <td class="ctr-head"><b>Content</b></td>
          <td class="ctr-head"><b>Description</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ctr">
            <a
              href="https://guide.freecodecamp.org/miscellaneous/angular-2-starter-project/"
              target="_blank"
              >freeCodeCamp</a
            >
          </td>
          <td class="ctr">Starter Angular Application</td>
          <td>Learn To Code For Free</td>
        </tr>
        <tr>
          <td class="ctr">
            <a
              href="https://egghead.io/courses/get-started-with-angular"
              target="_blank"
              >Codecademy</a
            >
          </td>
          <td class="ctr">Get Started with Angular</td>
          <td>30 Minutes of Basic Angular</td>
        </tr>
        <tr>
          <td class="ctr">
            <a href="https://udemy.com/" target="_blank">Udemy</a>
          </td>
          <td class="ctr">Several Courses For Beginners</td>
          <td>Angular Basics</td>
        </tr>
      </tbody>
    </table>
    <h2>The Docs!</h2>
    <h4>
      Your best resource for anything Angular is the official Angular Docs.
    </h4>
  </div>
  <app-redbadgecomments
    [mLocation]="angular"
    [title]="title"
  ></app-redbadgecomments>
</div>
