# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# dependencies
# node_modules
# !node_modules/*
# !node_modules/@angular/
# node_modules/@angular/*
# !node_modules/@angular/material/
# !node_modules/@angular/material/*.*
# !node_modules/@angular/material/**

# node_modules/*
# !node_modules/@angular/
# node_modules/@angular/*
# !node_modules/@angular/material/
# node_modules/@angular/material/*
# !node_modules/@angular/material/_theming.scss

# node_modules
# !node_modules/@angular/material/_theming.scss




node_modules/*
!node_modules/@angular/material/_theming.scss

# !node_modules/@angular/

#re-include file for custom themeing
# !node_modules/@angular/material/_theming/

# !_theming*./node_modules/@angular/material


