<div class="total-styling">
  <mat-card>
    <mat-card-title>
      User Data
    </mat-card-title>
    <mat-card-content>
      <table>

        <tr>
          <td>
              <h3>Firstname:</h3>
          </td>
          <td>
            
              <h2>{{ firstName }}</h2>
            
          </td>
        </tr>
        <tr>
          <td>
              <h3>Last name:</h3>
          </td>
          <td>
            
              <h2>{{ lastName }}</h2>
            
          </td>
        </tr>
        <tr>
          <td>
              <h3>Username:</h3>
          </td>
          <td>
            
              <h2>{{ userName }}</h2>
            
          </td>
        </tr>
        <tr>
          <td>
              <h3>Email:</h3>
          </td>
          <td>
            
              <h2>{{ email }}</h2>
            
          </td>
        </tr>
        
      </table>
    </mat-card-content>
  </mat-card>
</div>
