.title {
  font-size: 18px;
}


.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1;
}

.navbar-item {
  padding-top: 20px;
  padding-bottom: 10px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}
  
  