<mat-toolbar class="nav">
  <mat-toolbar-row class="navbar-shadow">
    <span class="title">
      <a [routerLink]="['/welcome']"> <img src="assets/img/pic1.png" /> </a>
    </span>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="goldbadge">Gold Badge</button>
    <mat-menu #goldbadge="matMenu">
      <button mat-menu-item routerLink="/goldbadge">Gold Badge Home</button>
      <button mat-menu-item routerLink="/javascript">JavaScript</button>
      <button mat-menu-item routerLink="/html">HTML</button>
      <button mat-menu-item routerLink="/css">CSS</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="bluebadge">Blue Badge</button>
    <mat-menu #bluebadge="matMenu">
      <button mat-menu-item routerLink="#">Under Construction</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="redbadge">Red Badge</button>
    <mat-menu #redbadge="matMenu">
      <button mat-menu-item routerLink="/redbadge">Red Badge Home</button>
      <button mat-menu-item routerLink="/angular">Angular</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="myfootlocker">My Footlocker</button>
    <mat-menu #myfootlocker="matMenu">
      <button mat-menu-item routerLink="/items">My Footlocker</button>
    </mat-menu>

    <button
      mat-button
      (click)="showLoginOrLogout()"
      [matMenuTriggerFor]="account"
    >
      Account
    </button>
    <mat-menu #account="matMenu">
      <button mat-menu-item routerLink="/account">Account</button>
      <button *ngIf="hasToken" mat-menu-item (click)="userLogout()">
        Log Out
      </button>
      <button *ngIf="!hasToken" mat-menu-item routerLink="/">Log In</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
