<div class="master-container">
  <div>
      <h2>CSS Resources</h2>
      
    </div>
  <div>
    <h3>Videos</h3>
   </div>
   <div class="video">
      <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-title>Doggies</mat-card-title>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-cardI">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title>Doggies</mat-card-title>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-cardI">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-title>Doggies</mat-card-title>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
            <mat-card class="example-cardI">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title>Doggies</mat-card-title>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-cardI">
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-title>Doggies</mat-card-title>
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                </mat-card>
   </div>
  <div>
    <h3>Readings</h3>
  </div>
  
    <table>
      <thead>
        <tr>
          <td class="ctr"><b>Type</b></td>
          <td class="ctr"><b>Location</b></td>
          <td class="ctr"><b>Description</b></td>
      </tr>
      </thead>
      <tbody>
        
          <tr>
            <td class="rt">asdgasdgsdgdsadgsdgdsagasdgasdgsagsdgd</td>
            <td class="rt">asdfasgdasdgsadgsdgasdgsadgsadgsadgsadgsagsdgasgdgsaf</td>
            <td>asdfsf</td>
          </tr>
          <tr>
            <td class="rt">sadfsaf</td>
            <td class="rt">asdfsf</td>
            <td>asdfsf</td>
          </tr>
          <tr>
            <td class="rt">sadfasdf</td>
            <td class="rt">asdfasf</td>
            <td>asdsdf</td>
          </tr>
      </tbody>
    </table>
  
  <div>
      <h3>Online Training</h3>
  </div>
    <div>
      <table>
        <thead>
          <tr>
            <td class="ctr"><b>Site</b></td>
            <td class="ctr"><b>Content</b></td>
            <td class="ctr"><b>Description</b></td>
        </tr>
        </thead>
        <tbody>
            <tr>
              <td class="rt">adgsadgasdfsadfsadfasdfsadgasgasdgsadgasdg</td>
              <td class="rt">asasgsdgsdgdfsaf</td>
              <td>asdfsf</td>
            </tr>
            <tr>
              <td class="rt">saasdasdfasdfasdfsdfasdfasdfgsaadgdfsaf</td>
              <td class="rt">asdfsf</td>
              <td>asdfsf</td>
            </tr>
            <tr>
              <td class="rt">sadasdfasdsafassdfsadfsadfasfaffasdf</td>
              <td class="rt">asdfasf</td>
              <td>asdsdf</td>
            </tr>
        </tbody>
      </table>
    </div>

    <h3>The Docs!</h3>

  </div>
  
