<div class="master-container">
  <div>
    <h1>CSS Resources</h1>

  </div>
  <div>
    <h2>Videos</h2>
  </div>
  <div class="video">
    <mat-card @slideIn1 class="example-card">
      <a href="https://www.youtube.com/watch?v=yfoY53QXEnI" target="_blank"><img mat-card-image src="../../assets/img/css1.png"
          alt="Image of CSS"></a>
      <mat-card-title>CSS Crash Course For Absolute Beginners</mat-card-title>
      <mat-card-content>
        <p>
          By Traversy Media
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card @slideIn2 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=XbEqfYr9pIo&t=101s" target="_blank"><img mat-card-image src="../../assets/img/css2.png"
          alt="Image of CSS"></a>
      <mat-card-title>An Easy, Interactive Way to Learn the CSS Grid</mat-card-title>
      <mat-card-content>
        <p>
          By DesignCourse
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card @slideIn3 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=z6tJ5ngiF14&t=0s&index=2&list=PLC3y8-rFHvwg6rjbiMadCILrjh7QkvzoQ" target="_blank"><img
          mat-card-image src="../../assets/img/css3.png" alt="Image of CSS"></a>
      <mat-card-title>Flexbox Tutorial</mat-card-title>
      <mat-card-content>
        <p>
          By Codevolution
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card @slideIn4 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=I9XRrlOOazo&list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT" target="_blank"><img
          mat-card-image src="../../assets/img/css4.png" alt="Image of CSS"></a>
      <mat-card-title>CSS Tutorials For Beginners</mat-card-title>
      <mat-card-content>
        <p>
          By The Net Ninja
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card @slideIn5 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=DCZdCKjnBCs&t=633s" target="_blank"><img mat-card-image src="../../assets/img/css5.png"
          alt="Image of CSS"></a>
      <mat-card-title>CSS Grid in 45 Minutes</mat-card-title>
      <mat-card-content>
        <p>
          By Wes Bos
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h2>Readings</h2>
  </div>

  <table>
    <thead>
      <tr>
        <td class="ctr-head"><b>Type</b></td>
        <td class="ctr-head"><b>Location</b></td>
        <td class="ctr-head"><b>Description</b></td>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td class="ctr">CSS Tutorial</td>
        <td class="ctr"><a href="https://www.w3schools.com/css/default.asp" target="_blank">w3schools.com</a></td>
        <td>CSS Tutorial</td>
      </tr>
      <tr>
        <td class="ctr">Introduction to CSS</td>
        <td class="ctr"><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS" target="_blank">MDN Web Docs - CSS</a></td>
        <td>Comprehensive CSS Tutorial For Beginners</td>
      </tr>
      <tr>
        <td class="ctr">Introduction to CSS</td>
        <td class="ctr"><a href="https://medium.freecodecamp.org/want-to-learn-css-heres-our-free-20-part-course-9fb3dcb0a971"
            target="_blank">freeCodeCamp</a></td>
        <td>A Comprehensive CSS Tutorial </td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2>Online Training</h2>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <td class="ctr-head"><b>Site</b></td>
          <td class="ctr-head"><b>Content</b></td>
          <td class="ctr-head"><b>Description</b></td>
        </tr>
        </thead>
        <tbody>
          
            <tr>
              <td class="ctr">CSS Tutorial</td>
              <td class="ctr"><a href="https://www.w3schools.com/css/default.asp" target="_blank">w3schools.com</a></td>
              <td>CSS Tutorial</td>
            </tr>
            <tr>
              <td class="ctr">Introduction to CSS</td>
              <td class="ctr"><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS" target="_blank">MDN Web Docs - CSS</a></td>
              <td>Comprehensive CSS Tutorial For Beginners</td>
            </tr>
            <tr>
              <td class="ctr">Introduction to CSS</td>
              <td class="ctr"><a href="https://medium.freecodecamp.org/want-to-learn-css-heres-our-free-20-part-course-9fb3dcb0a971" target="_blank">freeCodeCamp</a></td>
              <td>A Comprehensive CSS Tutorial </td>
            </tr>
        </tbody>
      </table>

        <h2>The Docs!</h2>
        <h4>Your best resource for anything CSS is the MDN Web Docs.</h4>
      </div>
      <app-redbadgecomments [mLocation]='css' [title]='title'></app-redbadgecomments>
    </div>
  

