<div>
    <h2>CSS Resources</h2>
    
  </div>
  <div>
    <h3>Videos</h3>
    <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile>Video 1</mat-grid-tile>
        <mat-grid-tile>Video 2</mat-grid-tile>
        <mat-grid-tile>Video 3</mat-grid-tile>
        <mat-grid-tile>Video 4</mat-grid-tile>
        <mat-grid-tile>Video 5</mat-grid-tile>
      </mat-grid-list>
  </div>
  <div>
    <h3>Readings</h3>
    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
        <mat-grid-tile>9</mat-grid-tile>
      </mat-grid-list>
  </div>
  <div>
      <h3>Online Training</h3>
      <mat-grid-list cols="3" rowHeight="3:1">
          <mat-grid-tile>1</mat-grid-tile>
          <mat-grid-tile>2</mat-grid-tile>
          <mat-grid-tile>3</mat-grid-tile>
          <mat-grid-tile>4</mat-grid-tile>
          <mat-grid-tile>5</mat-grid-tile>
          <mat-grid-tile>6</mat-grid-tile>
        </mat-grid-list>
    </div>
    <div>
      <h3>The "Docs"</h3>
    </div>
