.cards-container {
  margin: 150px 5% 0 5%;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.75rem darkgray);
  box-shadow: 2px 4px 20px #f0f0f0;
  border-style: outset;
  border-width: 3px;
  opacity: 0.9%;
  background-color: #53565a;
  color: white;
}

.itemcurrent-cardcontent {
  color: white;
}

.itemcurrent-buttons {
  text-align: center;
}

.itemcurrent-button {
  background-color: var(--eighth);
  color: white;
  border: solid white 1px;
}

.mat-form-field-label {
  color: white !important;
}
.mat-form-field-underline {
  background-color: white !important;
}
.mat-form-field-ripple {
  background-color: white !important;
}

@media (min-width: 959px) {
  .cards-container {
    margin: 150px 10% 0 10%;
  }
}

@media (min-width: 1280px) {
  .cards-container {
    margin: 250px 0 0 0;
    min-width: 450px;
  }
}
