<div class="edit-card">
  <mat-card>
    <mat-card-title>Update Your Username</mat-card-title>
    <mat-card-content>
      <h3>
        Current username:
      </h3>
        
        <h2>
        "{{ currentUserName }}"
      </h2>
      <form (ngSubmit)="editUsername()" class="edit-username-form">
        <mat-form-field>
          <input matInput placeholder="New Username" [(ngModel)]="user.username" type="text" name="text" required>
        </mat-form-field>
        <br />
        <button class="edituser-button" mat-raised-button color="accent" type="submit">Update Username</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

