.left-side {
  color: white;
  border-radius: 5px;
  border: 3px solid var(--eighth);
  border-style: outset;
  margin: 125px 5% 0 5%;
  background-color: dimgray;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
.login-container {
  padding: 20px;
}

.login-button-container {
  text-align: center;
}

.signup-button-container {
  text-align: center;
}

.login-button {
  color: white;
  background-color: var(--eighth);
  border: 1px solid var(--main);
}

.signup-button {
  color: white;
  background-color: var(--eighth);
  border: 1px solid var(--main);
}

.signup-container {
  padding: 20px;
}

.right-side {
  color: white;
  border-radius: 5px;
  border: 3px solid var(--eighth);
  border-style: outset;
  margin: 100px 5% 125px 5%;
  background-color: dimgray;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
.admin-container {
  padding: 20px;
}

.mat-form-field-label {
  color: white !important;
}
.mat-form-field-underline {
  background-color: white !important;
}
.mat-form-field-ripple {
  background-color: white !important;
}
.mat-tab-label {
  color: white !important;
}
.loginFail .mat-simple-snackbar {
  color: #d9514e;
}
snack-bar-container.loginFail {
  background: #f8fbff;
}
.loginSuccess .mat-simple-snackbar {
  color: #f8fbff;
}
snack-bar-container.loginSuccess {
  background: #8acfba;
}
.adminSuccess .mat-simple-snackbar {
  color: #f8fbff;
}
snack-bar-container.adminSuccess {
  background: #f79569;
}

@media (min-width: 700px) {
  .left-side {
    margin: 125px 10% 0 10%;
  }

  .right-side {
    margin: 100px 10% 125px 10%;
  }
}

@media (min-width: 960px) {
  .left-side {
    margin: 200px 0 0 0;
    min-width: 350px;
  }

  .right-side {
    margin: 200px 0 0 0;
    min-width: 350px;
    height: 280px;
  }
}

@media (min-width: 1280px) {
  .left-side {
    min-width: 475px;
  }

  .right-side {
    min-width: 475px;
  }
}
