<div class="entire" fxLayout.lt-md="column" fxLayoutAlign="space-around">
  <div @fade @fade2 class="left-side">
    <mat-tab-group>
      <mat-tab label="Login">
        <div class="login-container">
          <form (ngSubmit)="loginUser()" class="login-form" fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="loginUserData.email"
                type="email"
                name="email"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                [(ngModel)]="loginUserData.password"
                type="password"
                name="password"
                required
              />
            </mat-form-field>
            <div class="login-button-container">
              <button class="login-button" mat-raised-button type="submit">
                Login!
              </button>
            </div>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Register">
        <div class="signup-container">
          <form (ngSubmit)="signUpUser()" class="signup-form" fxLayout="column">
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="signUpUserData.firstname"
                type="text"
                placeholder="First Name"
                name="firstname"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="signUpUserData.lastname"
                type="text"
                placeholder="Last Name"
                name="lastname"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="signUpUserData.email"
                type="email"
                placeholder="Email"
                name="email"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="signUpUserData.username"
                type="text"
                placeholder="Username"
                name="username"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="signUpUserData.password"
                type="password"
                placeholder="Password"
                name="password"
              />
            </mat-form-field>
            <div class="signup-button-container">
              <button class="signup-button" mat-raised-button type="submit">
                Create!
              </button>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div @slide @fade2 class="right-side">
    <mat-tab-group>
      <mat-tab label="Admin Login">
        <div class="admin-container">
          <form (ngSubmit)="loginAdmin()" class="admin-form" fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="loginAdminData.email"
                type="email"
                name="email"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                [(ngModel)]="loginAdminData.password"
                type="password"
                name="password"
                required
              />
            </mat-form-field>
            <div class="login-button-container">
              <button class="login-button" mat-raised-button type="submit">
                Login!
              </button>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
