.entire {
  // background-color: var(--second);
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.left-side {
  color: white;
  width: 500px;
  border-radius: 5px;
  border: 3px solid var(--eighth);
  border-style: outset;
  margin-top: 150px;
  height: 500px;
  background-color: dimgray;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
.login-container {
  // border-radius: 5px;
  // border: solid hsl(500, 300, 900) 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.login-button-container {
  text-align: center;
}

.signup-button-container {
  text-align: center;
}

.login-button {
  color: white;
  background-color: var(--eighth);
  border: 1px solid var(--main);
}

.signup-button {
  color: white;
  background-color: var(--eighth);
  border: 1px solid var(--main);
}

.signup-container {
  // border-radius: 5px;
  // border: solid hsl(500, 300, 900) 2px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  // width: 90%;
}

.right-side {
  color: white;
  width: 500px;
  border-radius: 5px;
  border: 3px solid var(--eighth);
  border-style: outset;
  margin-top: 200px;
  height: 300px;
  background-color: dimgray;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
.admin-container {
  // border-radius: 5px;
  // border: solid hsl(500, 300, 900) 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.admin-form {
  display: flex;
  flex-direction: column;
}

.mat-form-field-label {
  color: white !important;
}
.mat-form-field-underline {
  background-color: white !important;
}
.mat-form-field-ripple {
  background-color: white !important;
}

.mat-tab-label {
  color: white !important;
}
