
<div class="container">
  <div class="welcome">
    <h1>{{ firstName }}'s Learning <br />
      Resources Footlocker.</h1>
  </div>
  <div class="main-content">
    <!-- <p>As students trying to master the various languages  necessarry for success at Eleven Fifty Academyd, we quickly discovered that researching your own information is vital, and knowing where to find that information is the name of the game.</p><br />
    <p>We have provided some excellent resources for you quickly to get started on your journey. However, your personal jourmney is directed by you and is dictated by what you want to learn. This app allows you to save your additional educational discoveries, organized by language, to be easily accessed in the future.</p><br />
    <p>As you get into the resources we have provided and run into difficulties, you can post quesions in the Messages board provided for each topic, and seek and provide help from and for you fellow students. Teaching something is the absolute best way to learn that thing. </p><br />
    <p>To date, your Gold Badge resources have been made fully functional. Blue and Red badge topics are currently under construction.</p><br />
    <h3>
      Good luck and good coding!!!
    </h3> -->

    <p>
      As you begin your journey into the world of coding, we are excited to provide this collection of resources, created by former Eleven Fifty Academy students, to help you along the way.
    </p> <br />
    <p>
      You will soon discover that self-directed learning is encouraged and becomes a larger percentage of your time spent at Eleven Fifty, as well as in the industry itself.
    </p> <br />
    <p>
      As a beginner looking for resources, it is often difficult and frustrating to know where to start if you are not sure what you are looking for.  This site is intended to provide you with resources for each phase of your time here, from gold through red badge.  
    </p> <br />
    <p> 
      In addition to what we provide, you will be able to create and save your own resources through your personal account.  With everything in one place, you will have access to a trove of information with just a few clicks.
    </p> <br />
    <p>
      To get started, navigate to the gold badge link below, but feel free to come back and navigate to the other areas that you can look forward to in the coming weeks.
    </p>
    <h3>Good Luck!</h3>
    <div class="button" fxLayoutAlign="center center">
        <button style="background: var(--yellow);" mat-raised-button  fxLayoutAlign="center center" routerLink="/goldbadge">Gold</button>
        <button style="background: var(--blue);"mat-raised-button  fxLayoutAlign="center center" routerLink="#">Blue</button>
        <button style="background: var(--red);"mat-raised-button  fxLayoutAlign="center center" routerLink="#">Red</button>
    </div>
  </div>
</div>