<div class="container">
  <div class="gold-badge"><h1>Red Badge</h1></div>
  <div class="main-content">
    <p>
      Red badge is your ending point at EFA. The major concepts that will be
      covered during this badge are Angular. Some of the concepts covered durin
      blue badge with React will apply here as well.
    </p>
    <br />
    <p>
      Some of the projects you will work on are performing an API fetch,
      creating a plants API store page, and finally working with a team to
      create a full-fledged Angular application.
    </p>
    <br />
    <p>
      To help you through red badge, we have created resource pages for each
      content area.
    </p>
    <br />
    <div class="button" fxLayoutAlign="center center">
      <button
        class="angular-button"
        mat-raised-button
        fxLayoutAlign="center center"
        routerLink="/angular"
      >
        Angular
      </button>
      <!--
        <button mat-raised-button  fxLayoutAlign="center center" routerLink="/html">HTML</button>
         <button mat-raised-button  fxLayoutAlign="center center" routerLink="/css">CSS</button>
      -->
    </div>
  </div>
</div>
