<div class="master-container">

  <div>
    <h1>HTML Resources</h1>

  </div>
  <div>
    <h2>Videos</h2>
  </div>
  <div class="video">
    <mat-card @slideInOut class="example-card">
      <a href="https://www.youtube.com/watch?v=UB1O30fR-EE" target="_blank"><img mat-card-image src="../../assets/img/html1.png"
          alt="Image of HTML"></a>
      <mat-card-title>HTML Crash Course For Absolute Beginners</mat-card-title>
      <mat-card-content>
        <p>
          By Traversy Media
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card @slideInOut2 class="example-cardI">
      <a href="https://youtu.be/dD2EISBDjWM" target="_blank"><img mat-card-image src="../../assets/img/html2.png" alt="Image of HTML"></a>
      <mat-card-title>HTML Tutorial For Beginners</mat-card-title>
      <mat-card-content>
        <p>
          By EJ Media
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card @slideInOut3 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=alswD2tCc_Q" target="_blank"><img mat-card-image src="../../assets/img/html3.png"
          alt="Image of HTML"></a>
      <mat-card-title>A Beginner's Web Design Tutorial for 2018</mat-card-title>
      <mat-card-content>
        <p>
          By DesignCourse
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card @slideInOut4 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=hrZqiCUx6kg" target="_blank"><img mat-card-image src="../../assets/img/html4.png"
          alt="Image of HTML"></a>
      <mat-card-title>HTML Tutorial for Beginners - Learn HTML in 30 Minutes</mat-card-title>
      <mat-card-content>
        <p>
          By Clever Techie
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card @slideInOut5 class="example-cardI">
      <a href="https://www.youtube.com/watch?v=KplMW80X60w" target="_blank"><img mat-card-image src="../../assets/img/html5.png"
          alt="Image of HTML"></a>
      <mat-card-title>HTML Tutorial For Beginners</mat-card-title>
      <mat-card-content>
        <p>
          By Extern Code
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h2>Readings</h2>
  </div>



  <table>
    <thead>
      <tr>

        <td class="ctr-head"><b>Type</b></td>
        <td class="ctr-head"><b>Location</b></td>
        <td class="ctr-head"><b>Description</b></td>
      </tr>

    </thead>
    <tbody>

      <tr>
        <td class="ctr">HTML Tutorial</td>
        <td class="ctr"><a href="https://www.w3schools.com/html/" target="_blank">w3schools.com</a></td>
        <td>Hands-On Tutorial To Learn HTML</td>
      </tr>
      <tr>
        <td class="ctr">Getting Started With HTML</td>
        <td class="ctr"><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started"
            target="_blank">MDN Web Docs</a></td>
        <td>Comprehensive Tutorial For Beginners</td>
      </tr>
      <tr>
        <td class="ctr">Learn HTML In 5 Minutes</td>
        <td class="ctr"><a href="https://medium.freecodecamp.org/learn-html-in-5-minutes-ccd378d2ab72" target="_blank">freeCodeCamp</a></td>
        <td>A quick tutorial to help you get started building websites</td>
      </tr>
    </tbody>
  </table>


  <div>
    <h2>Online Training</h2>
  </div>

  <div>
    <table>
      <thead>
        <tr>

          <td class="ctr-head"><b>Site</b></td>
          <td class="ctr-head"><b>Content</b></td>
          <td class="ctr-head"><b>Description</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ctr"><a href="https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5" target="_blank">freeCodeCamp</a></td>
          <td class="ctr">Introduction To Basic HTML</td>
          <td>Learn To Code For Free</td>
        </tr>
        <tr>
          <td class="ctr"><a href="https://www.codecademy.com/" target="_blank">Codecademy</a></td>
          <td class="ctr">Introduction to HTML</td>
          <td>4 Hours Of Basic HTML</td>
        </tr>
        <tr>
          <td class="ctr"><a href="https://udemy.com/" target="_blank">Udemy</a></td>
          <td class="ctr">Several Courses For Beginners</td>
          <td>HTML Basics</td>
        </tr>

      </tbody>
    </table>
    <h2>The Docs!</h2>
    <h4>Your best resource for anything CSS is the MDN Web Docs.</h4>
  </div>
  <app-redbadgecomments [mLocation]='html' [title]='title'></app-redbadgecomments>
</div>
