.redbadge-comments {
  width: 800px;
  border: solid 1px var(--ninth);
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  margin-top: 5px;
}

.mat-card-title {
  border-bottom: solid 1px black;
}
