.card-container {
  width: 800px;
  display: flex;
  border: solid 1px var(--ninth);
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  margin-top: 50px;
}

.form-container {
  display: flex;
}

.commentcreate-button-container {
  margin-left: 15px;
}

.commentcreate-button {
  border: solid 1px white;
}
