.master-container{
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 2%;
  padding-top: 2%;
}

h3 {
  text-align: center;
}

.video {
  display: flex;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 3%;
  padding-top: 2%;
}

  .example-card {
    max-width: 200px;
    max-height: 400px;
    
  }

  .example-cardI {
    max-width: 200px;
    max-height: 400px;
    margin-left: 1em;
  }
   
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

 table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
 }

  th, td {
    // border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.ctr {
  text-align: center;
}

.rt {
  text-align: right;
}