/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  padding: 0;
}

:root {
  --main: #8acfba; // green
  --second: #53565a; // gray
  --third: #725b4d; // brown
  --forth: #9AD0D5; // teal
  --fifth: #F6D57A; // yellow
  --sixth: #A992BC; // purple
  --seventh: #F79569; // orange
  --eighth: #86BAD3; // blue
  --ninth: #D9514E; // red
}

.text-center {
  text-align: center;
}
.center {
  padding: 0;
  margin: auto;
}
