/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  font-family: nunito;
}

body {
  background-image: linear-gradient(#53565a, #d9514e);
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  // use example: "background: var(--main);"
  --main: #8acfba; // green
  --second: #53565a; // gray
  --third: #725b4d; // brown
  --forth: #9ad0d5; // teal
  --fifth: #f6d57a; // yellow
  --sixth: #a992bc; // purple
  --seventh: #f79569; // orange
  --eighth: #86bad3; // blue
  --ninth: #d9514e; // red
  --yellow: #f6d57a;
  --blue: #86bad3;
  --red: #d9514e;
  --gold: #d4af37;
}

.text-center {
  text-align: center;
}
.center {
  padding: 0;
  margin: auto;
}

a {
  color: var(--blue);
}
