<div class="container">
  <div class="gold-badge">
    <h1>Gold Badge</h1>
  </div>
  <div class="main-content">
    <p>Gold badge is your starting point at EFA.  The major concepts that will be covered during this badge are JavaScript, HTML, and CSS.  These should feel familiar as you were introduced to them during your pre-work.</p><br>

    <p>Some of the projects you will work on are building a CSS creature in CodePen, creating a storefront web page, and starting on your digital portfolio that you will use to enhance your future employment applications.</p><br>

    <p>To help you through gold badge, we have created resource pages for each content area.  These should be helpful throughout your entire time at EFA as everything from this badge forward draws from the fundamentals.</p><br>


    <p>Some advice getting started:</p><br>
        <ul>
          <li>Get to know your classmates.  You will be spending a lot of time together.</li>
          <li>Don’t be afraid to ask questions. Someone else is probably questioning too.</li>
          <li>When you get stressed or frustrated (and you will), take a break, take a walk, or whatever.  Just give your brain some time off.  </li>
          <li>Help others.  It helps you as much as it does someone else.</li>
          <li>Have fun!</li>
        </ul><br>

      <div class="button" fxLayoutAlign="center center">
          <button mat-raised-button  class="js" fxLayoutAlign="center center" routerLink="/javascript">JavaScript</button>
          <button mat-raised-button  fxLayoutAlign="center center" routerLink="/html">HTML</button>
          <button mat-raised-button  fxLayoutAlign="center center" routerLink="/css">CSS</button>
      </div>
   </div>
</div>
